.modal-list-item{
    display: inline-block;
    width: 242px;
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;

}
.modal-list-item::before{
    content: "";
    width: 10px;
    height: 10px;
    background-color: #B4E2E1;
    border: 1px solid #4A90E2;
    position: absolute;
    left: -20px;
    top: 50%;
    border-radius: 50%;
    transform: translateY(-50%);
}