.info-block{
    margin-top: 24px;
    padding-bottom: 90px;
}
.info-Title{
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    color: #414D6A; 
    margin-bottom: 20px;   
}
.info-all{
    display: flex;
    gap: 28px;
}
.infoSlider .slick-track{
    display: flex;
}
.infoSlider .slick-next{
    position: absolute;
    background-color: transparent;
    cursor: pointer;
    border: none;
    padding: 0;
    left: 0;
    z-index: 4;
    background-repeat: no-repeat;
    top: 50%;
    font-size: 0;
    transform: translateY(-50%); 
    background-position: center center;
    left: -22px; 
    width: 30px;
    border-radius: 50%;
    box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.129331);
    height: 30px;
    background-image: url('../../assets/img/chevronLeft.png'); 
}
.infoSlider .slick-prev {
    position: absolute;
    background-color: transparent;
    background-repeat: no-repeat;
    cursor: pointer;
    border: none;
    padding: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    right: -22px;
    z-index: 4;
    font-size: 0;
    width: 30px;
    border-radius: 50%;
    box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.129331);
    background-position: center center;
    height: 30px;
    background-image: url('../../assets/img/rigiht.png');
}
.infoSlider .slick-list{
    overflow: hidden;
}
.infoSlider .card-item{
    height: 380px;
    margin: 0 auto;
    margin-bottom: 56px;
}