.footer-item{
    padding: 23px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-logo{
    display: flex;
    align-items: center;
    
}
.footer-logos{
    display: block;
    width: 67px;
    height: 67px;
}
.foter-text{
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    opacity: 0.1;
    max-width: 153px;
    margin-left: 14px;
}
.footer-tel{
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #98A4B7;  
    max-width: 307px; 
}
.footer-link{
    width: 177px;
    height: 55px;
    background: #212121;
    border-radius: 100px;  
    display: block; 
    padding: 6px 11px;
    display: flex;
    align-items: center;
    gap:8px;
}
.footer-play{
    width: 42.07px;
    height: 41.97px;    
}
.foter-stor-text{
    color: #FFFFFF;
}
.footer-links{
    display: flex;
    align-items: center;
    gap:5px;
}